.top
br
- if @time_tables.present?
  .card-columns
    - @time_tables.each do |time_table|
      .card.bg-light.mb-3 style="max-width: 22rem;"
        .card-header = "#{time_table.event_date.strftime("%Y/%m/%d")}@#{time_table.place}"
        .card-body 
          h5.card-title = time_table.title
          p.card-text = time_table.artist_names.join(' / ')
          = link_to '詳細', edit_time_table_path(time_table.uuid), class: "button btn btn-secondary btn-block btn-sm"
          = link_to 'コピー', copy_time_table_path(time_table.uuid), method: :post, class: "button btn btn-secondary btn-block btn-sm"
          = link_to '削除', time_table_path(time_table.uuid), method: :delete, data: { confirm: 'このタイムテーブルを削除してもよろしいですか？' }, class: "button btn btn-light btn-block btn-sm"
- else
  .text-center
    h2.text-white 
      | データがないよ😱
      br
      br
      | タイムテーブルを登録してね🤪

css: 
  @media (min-width: 576px){
    .card-columns {
      -moz-column-count: 4;
      column-count: 4;
      -moz-column-gap: 1.25rem;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
    }
  }