/ 多分携帯でも使われてしまうので、scalable=yesに上書き
/ てかlayouts分けたい
meta[name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"] 
.top
= react_component("Menu")
= react_component("TimeTable", timeTable: @time_table, savable: false, shareable: false)