= react_component("online_lives/Search")
= react_component("online_lives/LiveList", lives: @lives, current_user_id: current_user.id, title: '直近の配信ライブ')
= react_component("online_lives/Recommend", didLogined: logined?)