= react_component("Search", tags: @tags, areas: @areas)
= react_component("XScrollableArtistList", artists: @artists, title: 'PickUp!')
= react_component("XScrollableArtistList", artists: @artists, title: 'new!！')
= react_component("ArtistList", artists: @artists, title: '宇都宮!')
= react_component("LoginRecommend", didLogined: logined?)