= react_component("Search", tags: @tags, areas: @areas, total_count: @total_count)
= react_component("XScrollableArtistList", artists: @up_artists, title: 'Up!!')
= react_component("XScrollableArtistList", artists: @pickup_artists, title: 'PickUp!!')
= react_component("IndiesRecommender", didLogined: logined?)