= react_component("indies_wiki/Search", tags: @tags, areas: @areas, total_count: @total_count)
= react_component("indies_wiki/XScrollableArtistList", artists: @up_artists, title: 'Up!!')
= react_component("indies_wiki/XScrollableMVList", mvs: @mvs, title: 'Mvs!!')
= react_component("indies_wiki/XScrollableArtistList", artists: @pickup_artists, title: 'PickUp!!')
= react_component("indies_wiki/XScrollableArtistList", artists: @random_artists, title: 'Random!!')
= react_component("indies_wiki/XScrollableArtistList", artists: @popular_tag_artists, title: 'PopularTag!!')
= react_component("indies_wiki/IndiesRecommender", didLogined: logined?)